.Navxlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #264653;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.Navxlinks .links {
  color: #e9c46a;
  padding: 5px 10px;

  text-decoration: none;
}

.Navxlinks .links:hover {
  background-color: #ddd;
  color: #000;
}

.Navxlinks .profile {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navxlinks .profile h2 {
  color: #e9c46a;
  text-decoration: none;
}

.pill {
  display: flex;
  flex-direction: row;
  transform: translate(30%, 0);
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
}

.pill h2 {
  transform: translateX(25%);
}
.imx {
  border-radius: 50px;
  border: 5px solid black;
  transition: 0.5s;
}
.imx:hover {
  border-radius: 25px;
  border: 10px solid grey;
}
h2 {
  text-decoration: none;
}
